#root {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 15px;
  width: 800px;
}

.mdc-data-table {
  width: 100%;
}

.mdc-data-table__header-row {
  text-transform: uppercase;
}

.mdc-form-field {
  display: flex;
  align-items: flex-end;
  margin: 0 0 20px;
}

.mdc-text-field {
  margin-top: 5px;
  height: 42px;
}

.mdc-text-field__wrapper {
  display: flex;
  flex-direction: column;
}

.mdc-text-field__wrapper:not(:first-child) {
  margin-left: 10px;
}

.mdc-floating-label {
  position: relative;
  margin-left: 10px;
  text-transform: uppercase;
  font-size: .8rem;
  text-align: center;
}

.form__filter {
  align-self: flex-end;
}

.mdc-button {
  margin: 5px;
}

.new-user-form-btn__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 214px;
}

.new-user-form-btn__wrapper .mdc-button {
  margin: 0 30px;
}

.new-user-form-btn__wrapper .mdc-button:first-child {
  margin: 0 30px 30px;
  font-size: 1.2rem;
}

.mdc-card{
  margin-top: 15px;
  padding: 20px;
}

.material-icons {
  vertical-align: bottom;
}

.pagination {
  display: flex;
  align-self: flex-end;
}
